<div class="container-fluid border p-1">
 <footer class="bg-light text-center text-lg-start fixed-bottom">
  <!-- Grid container -->
  <div class="container p-4">
   <!--Grid row-->
   <div class="row">
    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
     <h5 class="text-uppercase">Links</h5>

     <ul class="list-unstyled mb-0">
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 1</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 2</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 3</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 4</a>
      </li>
     </ul>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
     <h5 class="text-uppercase mb-0">Links</h5>

     <ul class="list-unstyled">
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 1</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 2</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 3</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 4</a>
      </li>
     </ul>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
     <h5 class="text-uppercase">Links</h5>

     <ul class="list-unstyled mb-0">
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 1</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 2</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 3</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 4</a>
      </li>
     </ul>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
     <h5 class="text-uppercase mb-0">Links</h5>

     <ul class="list-unstyled">
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 1</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 2</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 3</a>
      </li>
      <li>
       <a href="#!" class="text-dark text-uppercase text-decoration-done">Link 4</a>
      </li>
     </ul>
    </div>
    <!--Grid column-->
   </div>
   <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
   &#169; 2023 Copyright: <a class="text-dark text-uppercase text-decoration-done text-decoration-none" href="/">Angular 15</a>
  </div>
  <!-- Copyright -->
 </footer>
</div>