<div class="container userSignin mt-3">
  <div class="col-md-6 offset-md-3">
    <div class="card shadow-lg p-5 mb-5 bg-body rounded border rounded-0">
      <div class="card-header bg-transparent rounded-0">
        <h1 class="mb-0 text-center">{{title}}</h1>
      </div>
      <div class="card-bodyshadow-sm p-3 rounded">
        <h5 class="card-title text-danger"><sup>*</sup>Please enter valid credentials</h5>
        <div class="row g-3">
          <div class="col-md-6">
            <label for="email" class="col-form-label">Email</label>
            <input type="text" class="form-control form-control-sm rounded-0" id="email" placeholder="email@example.com" autofocus>
          </div>

          <div class="col-md-6">
            <label for="inputPassword" class="col-form-label">Password</label>
            <input type="password" class="form-control form-control-sm rounded-0" id="inputPassword" placeholder="*******">
          </div>

          <div class="d-grid gap-2 d-flex justify-content-center">
            <!-- <button class="btn btn-sm btn-outline-dark rounded-4 col-md-3" type="reset">Reset</button> -->
            <!-- <button class="btn btn-sm btn-outline-primary me-md-2 col-md-3" type="submit">Submit</button> -->
            <button class="btn btn-sm btn-primary btn-block col-6" type="submit">Submit</button>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted rounded-0 bg-transparent">
        <div class="row justify-content-evenly">
          <div class="col-6 text-start">
            Don't have account? 
            <a class="text-decoration-none text-start" routerLink="/signup">Click here</a>
          </div>
          <div class="col-6 text-end">
            <a class="text-decoration-none" routerLink="/forgot-password">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>