ˀ<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logos/ngLogo.png" width="150" height="40" title="Home" alt="Home">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="text-white" matTooltip="Home" [matTooltipPosition]="position.value!" aria-hidden="false" mat-button [routerLinkActive]="['active']" routerLink="/home">Home <mat-icon class="material-icons">home</mat-icon></a>
                </li>
                <li class="nav-item">
                    <a class="text-white" matTooltip="about" [matTooltipPosition]="position.value!" mat-button [routerLinkActive]="['active']" routerLink="/about">About <mat-icon aria-hidden="false" fontIcon="info"></mat-icon></a>
                </li>
                <li class="nav-item">
                    <a class="text-white" matTooltip="contact us" [matTooltipPosition]="position.value!" mat-button [routerLinkActive]="['active']" routerLink="/contact">Contact Us<mat-icon aria-hidden="false" fontIcon="contact_page"></mat-icon></a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="text-white" matTooltip="signin" [matTooltipPosition]="position.value!" mat-button [routerLinkActive]="['active']"
                        routerLink="/signin">Sign In <mat-icon aria-hidden="false" fontIcon="login"></mat-icon></a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white" matTooltip="signup" [matTooltipPosition]="position.value!" mat-button [routerLinkActive]="['active']" routerLink="/signup">Sign Up <mat-icon aria-hidden="false" fontIcon="account_circle"></mat-icon></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
