<div class="container mt-2 mb-2">
  <div class="card col-md-6 offset-md-3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>User Registration Form</mat-card-title>
        <mat-card-subtitle>Please fill required fields</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>First name</mat-label>
                <input matInput placeholder="Ex: John" required>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Ex: Doe" formControlName="lastName">
                <mat-error>Lastname is required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6 mb-3 align-self-center">
              <mat-label>Gender</mat-label>
              <mat-radio-group name="gender" formControlName="gender">
                <mat-radio-button value="male" id="sex-male" aria-label="sex male">Male</mat-radio-button>
                <mat-radio-button value="female" id="sex-female" aria-label="sex female">Female</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-6 mb-3">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Ex. pat@example.com">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Phone</mat-label>
                <input type="tel" matInput placeholder="Ex. 987-654-1234">
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Address</mat-label>
                <input type="text" matInput placeholder="Ex: 1234 Tiffany Street, 5th Avenue, John Apartment, Block-4, 603" >
              </mat-form-field>
            </div>
            <!-- COUNTRY STATE CITY -->
            <div class="col-6">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Country</mat-label>
                <mat-select (change)="onChangeCountry($any($event.target).value)">
                  <mat-option>-- Select Country --</mat-option>
                  <mat-option
                    *ngFor="let country of countryInfo;
                    let i = index"
                    value="{{i}}">
                    {{country.CountryName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>State</mat-label>
                <mat-select (change)="onChangeState($any($event.target).value)">
                  <mat-option *ngIf="stateInfo == ''" value="-1">--Select State--</mat-option>
                  <mat-option
                    *ngFor="let state of stateInfo;
                    let j = index" value="{{j}}">
                    {{state.StateName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>City</mat-label>
                <mat-select>
                  <mat-option *ngIf="cityInfo == ''" value="-1">--Select City--</mat-option>
                  <mat-option
                    *ngFor="let city of cityInfo;
                    let k = index"
                    value="{{k}}">{{city}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- COUNTRY STATE CITY -->
            <div class="col-6">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Postal Code</mat-label>
                <input matInput placeholder="Ex: 124-987">
              </mat-form-field>
            </div>
          </div>
          <button mat-raised-button color="primary" class="me-md-4" type="submit">Submit</button>
          <button mat-raised-button color="warn" type="reset">Clear</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
