<div class="container userSignin">
  <div>
    <div class="col-md-6 offset-md-3 h-100">
      <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <div class="card mt-3 shadow-sm p-2 mb-5 bg-body rounded-0 border">
          <h1 class="card-header text-center bg-transparent border-0 mb-0 mainTitle text-uppercase">{{title}}</h1>
          <div class="card-body pt-3 pb-4">
            <h5 class="card-title text-danger text-start fw-lighter">*Please enter valid credentials</h5>
            <div class="row g-3">
              <div class="col-md-6 col-sm-12">
                <label for="firstname" class="form-label">Firstname <span class="text-danger">*</span></label>
                <input type="text" formControlName="firstname" name="firstname" class="form-control form-control-sm rounded-0" id="firstname" placeholder="John" autocomplete="off" autofocus>
                <!-- <span class="text-danger fw-lighter errorText" 
                *ngIf="userForm.get('firstname')?.touched && userForm.get('firstname')?.invalid || submitted && userForm.get('firstname')?.invalid">
                  <span *ngIf="userForm.get('firstname')?.errors.required">
                    Firstname is required
                  </span>
                </span> -->
              </div>
              <div class="col-md-6 col-sm-12">
                <label for="lastname" class="form-label">Lastname <span class="text-danger">*</span>
                </label>
                <input type="text" formControlName="lastname" class="form-control form-control-sm rounded-0" name="lastname" id="lastname" placeholder="Doe" required autocomplete="off">
                <!-- <span class="text-danger fw-lighter errorText">Lastname is required</span> -->
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="form-label" for="sex">Gender <span class="text-danger">*</span>
                  </label>
                  <select class="form-select form-select-sm" id="sex" formControlName="sex">
                    <option disabled value="null">Select your gender</option>
                    <option *ngFor="let sex of gender" [value]="sex.value">{{sex.value}}</option>
                  </select>
                  <!-- <span class="text-danger fw-lighter errorText">Gender is required</span> -->
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <label for="email" class="form-label">Email <span class="text-danger">*</span>
                </label>
                <input type="email" formControlName="email" class="form-control form-control-sm rounded-0" name="email" id="email" placeholder="email@example.com" required autocomplete="off">
                <!-- <span class="text-danger fw-lighter errorText">Email is required</span> -->
              </div>
              <div class="col-md-6 col-sm-12">
                <label for="mobile" class="form-label">Mobile <span class="text-danger">*</span>
                </label>
                <input type="number" formControlName="mobile" class="form-control form-control-sm rounded-0" name="mobile" id="mobile" placeholder="987-234-0987" maxlength="10" autocomplete="off">
                <!-- <span class="text-danger fw-lighter errorText">Mobile number is required</span> -->
              </div>
              <div class="col-md-6 col-sm-12">
                <label for="password" class="form-label">Password</label>
                <span class="text-danger">*</span>
                <input type="password" class="form-control form-control-sm rounded-0" name="password" id="password" placeholder="**********" autocomplete="off">
                <!-- <span class="text-danger fw-lighter errorText">Password is required</span> -->
              </div>

              <!-- <div class="col-md-6 col-sm-12"><label for="username" class="form-label">Username(optional)</label><input type="text" class="form-control form-control-sm rounded-0" id="username" placeholder="johndoe" required autocomplete="off"><span class="text-danger fw-lighter errorText"></span></div> -->

              <div class="col-md-6 col-sm-12">
                <label for="address" class="form-label">Address <span class="text-danger">*</span>
                </label>
                <input type="text" formControlName="userAddress" class="form-control form-control-sm rounded-0" name="address" id="address" placeholder="Ex: 1600 Amphitheatre Parkway Mountain" required autocomplete="off">
                <!-- <span class="text-danger fw-lighter errorText">Address is required</span> -->
              </div>
              <div class="col-md-6 col-sm-12">
                <label for="landmark" class="form-label">Landmark <span class="text-danger">*</span>
                </label>
                <input type="text" formControlName="userLandmark" class="form-control form-control-sm rounded-0" name="landmark" id="landmark" placeholder="Ex: Beside Park Hotel" required autocomplete="off">
                <!-- <span class="text-danger fw-lighter errorText">Landmark is required</span> -->
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="country" class="form-label">Country <span class="text-danger">*</span>
                  </label>
                  <select formControlName="userCountry" (change)="onChangeCountry($any($event.target).value)" id="country" class="form-select form-select-sm" required autocomplete="off">
                    <option disabled value="null">Select Country</option>
                    <option *ngFor="let country of countryInfo; let i = index" value="{{i}}">{{country["CountryName"]}}
                    </option>
                  </select>
                  <!-- <span class="text-danger fw-lighter errorText">Country is required</span> -->
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="state" class="form-label">State <span class="text-danger">*</span>
                  </label>
                  <select formControlName="userState" (change)="onChangeState($any($event.target).value)" id="state" class="form-select form-select-sm" required>
                    <option *ngIf="stateInfo == ''" value="-1">Select State</option>
                    <option *ngFor="let state of stateInfo; let j = index" value="{{j}}">{{state["StateName"]}}</option>
                  </select>
                  <!-- <span class="text-danger fw-lighter errorText">State is required</span> -->
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label for="city" class="form-label">City <span class="text-danger">*</span>
                  </label>
                  <select formControlName="userCity" class="form-select form-select-sm" id="city" required>
                    <option *ngIf="cityInfo == ''" value="-1">Select City</option>
                    <option *ngFor="let city of cityInfo; let k = index" value="{{k}}">{{city}}</option>
                  </select>
                  <!-- <span class="text-danger fw-lighter errorText">City is required</span> -->
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <label for="pincode" class="form-label">Zipcode <span class="text-danger">*</span>
                </label>
                <input type="number" formControlName="userPincode" id="pincode" class="form-control form-control-sm rounded-0" placeholder="123-456">
                <!-- <span class="text-danger fw-lighter errorText">Zipcode is required</span> -->
              </div>
            </div>
            <!-- Button Section -->
            <div class="card-footer bg-transparent mt-5">
              <div class="d-grid gap-2 d-flex justify-content-center mt-2">
                <button class="btn btn-sm btn-dark col-md-3 col-sm-6" type="reset">Reset</button>
                <button class="btn btn-sm btn-primary me-md-2 col-md-3 col-sm-6" type="submit">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- <div class="card mt-3 shadow-sm p-5 mb-5 bg-body border rounded-0">
        <h1 class="card-header text-center bg-transparent mb-0 border-0 text-uppercase mainTitle">{{userInfoTitle}}</h1>
        <ul class="list-group list-group-flush">
          <li class="list-group-item border-0">Firstname</li>
          <li class="list-group-item border-0">Lastname</li>
          <li class="list-group-item border-0">Gender</li>
          <li class="list-group-item border-0">Email</li>
          <li class="list-group-item border-0">Mobile</li>
          <li class="list-group-item border-0">Address</li>
          <li class="list-group-item border-0">Lanmark</li>
          <li class="list-group-item border-0">Country</li>
          <li class="list-group-item border-0">State</li>
          <li class="list-group-item border-0">City</li>
          <li class="list-group-item border-0">Pincode</li>
        </ul>
      </div> -->
    </div>
  </div>
</div>