<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered border-primary mt-2 mb-2">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" class="text-center">1</td>
                    <td class="text-center">{{receivedFormData.firstname}}</td>
                    <td class="text-center">{{receivedFormData.lastname}}</td>
                    <td class="text-center">{{receivedFormData.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>