<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered border-primary mt-2 mb-2">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Address</th>
                    <th scope="col">Landmark</th>
                    <th scope="col">Country</th>
                    <th scope="col">State</th>
                    <th scope="col">City</th>
                    <th scope="col">Pincode</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row" class="text-center">1</td>
                    <!-- <td class="text-center">{{firstname}}</td>
                    <td class="text-center">{{lastname}}</td>
                    <td class="text-center">{{gender}}</td>
                    <td class="text-center">{{email}}</td>
                    <td class="text-center">{{mobile}}</td>
                    <td class="text-center">{{address}}</td>
                    <td class="text-center">{{landmark}}</td>
                    <td class="text-center">{{country}}</td>
                    <td class="text-center">{{state}}</td>
                    <td class="text-center">{{city}}</td>
                    <td class="text-center">{{zipcode}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>