/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
}

.form-control,
.form-select {
    border: 1px solid #6E7591;
    border-radius: 0;
}

.navbar-nav .nav-link {
    color: #fff
}

.navbar-nav .show>.nav-link,
.navbar-nav .nav-link.active {
    color: #000;
    border: 1px solid #fff;
    background: #fff;
    margin-right: 5px;
}

.main-heading {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #005C8A;
}

.notePoint {
    font-size: 12px;
}